.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fi {
  display: block;
  float: left;
  width: 50px;
  margin-right: 20px;
}

.ft {
  overflow: hidden;
}

.spec {
  display: block;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.car {
  object-fit: cover;
  width: 700px;
  height: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.home-container {
  .card {
    padding: 32px;
    margin-left: auto;
    border-radius: 10px;
  }

  .btn {
    background-color: #f9b3a0 !important;
    border-color: #f9b3a0 !important;
  }
}
