<div class="bg-img"></div>

<app-navbar [canSearch]="false"></app-navbar>
<div class="home-container">
  <div class="card">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <h2 style="font-weight: 600;">Reserve a ride</h2>

      <div class="form-group">
        <label for="location">Location</label>
        <input
          name="location"
          type="text"
          class="form-control"
          id="location"
          formControlName="location"
          placeholder="Anywhere"
          autocomplete="off"
        />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="from">From</label>
          <input
            type="date"
            class="form-control"
            id="from"
            name="from"
            formControlName="from"
          />
        </div>

        <div class="form-group col-md-6">
          <label for="to">Till</label>
          <input
            type="date"
            name="to"
            id="to"
            class="form-control"
            formControlName="to"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type car</label>
        <select class="form-control" id="type" formControlName="type">
          <option>Dream</option>
          <option>Family</option>
          <option>Fun</option>
          <option>Green</option>
        </select>
      </div>

      <div class="text-right">
        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </div>
    </form>
  </div>
</div>
