<div class="bg-img"></div>

<app-navbar [canSearch]="false"></app-navbar>
<div class="home-container">
  <div class="card">
    <form>
      <h2>Reserve a ride</h2>

      <div class="form-group">
        <label for="locationInput">Location</label>
        <input
          type="text"
          class="form-control"
          id="locationInput"
          placeholder="Anywhere"
        />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fromDateInput">From</label>
          <input
            type="text"
            class="form-control"
            id="fromDateInput"
            placeholder="dd/mm/yyyy"
          />
        </div>

        <div class="form-group col-md-6">
          <label for="tillDateInput">Till</label>
          <input
            type="text"
            class="form-control"
            id="tillDateInput"
            placeholder="dd/mm/yyyy"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="typeCarSelection">Type car</label>
        <select class="form-control" id="typeCarSelection">
          <option>Dream</option>
          <option>Family</option>
          <option>Fun</option>
          <option>Green</option>
        </select>
      </div>

      <div class="text-right">
        <button
          type="submit"
          class="btn btn-primary"
          routerLink="/recommendation"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
