<p
  style="margin: 0px auto; padding: 0px; color: rgba(255, 255, 255, 0.541176); max-width: 356px;"
>
  Created by
  <a
    href="https://github.com/StefanPahlplatz/proep-backend/graphs/contributors"
    target="_blank"
    style="color: rgba(255, 255, 255, 0.870588);"
    >contributors</a
  ><!-- react-text: 107 -->.<!-- /react-text -->
</p>
<a
  style="margin-top: 22px;"
  mat-icon-button
  href="https://github.com/StefanPahlplatz/proep-backend"
  target="_blank"
>
  <img src="../../../assets/image/github.png" />
</a>
