.content {
  mat-card {
    margin: 50px auto 0;
    max-width: 350px;
    text-align: center;
    animation: fadein 1s;
    -o-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;

    mat-form-field {
      display: block;
    }

    mat-spinner {
      width: 25px;
      height: 25px;
      margin: 20px auto 0 auto;
    }

    button {
      display: block;
      width: 100%;
    }

    .error {
      color: #d50000;
    }

    .success {
      color: #8bc34a;
    }
  }
}

@media screen and (max-width: 599px) {
  .content {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;

    mat-card {
      /* https://github.com/angular/flex-layout/issues/295 */
      display: block !important;
      max-width: 999px;
    }
  }
}
