<app-navbar [hasBorder]="true"></app-navbar>

<div class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img src="assets/images/default-profile.png" class="card-img-top" />
        <div class="card-body user-info">
          <h5 class="card-title">My Profile</h5>
          <ul>
            <li>
              <span>First Name</span>
              {{ user.firstname ? user.firstname : '-' }}
            </li>
            <li>
              <span>Last Name</span>
              {{ user.lastname ? user.lastname : '-' }}
            </li>
            <li>
              <span>Address</span>
              {{ user.address ? user.address : '-' }}
            </li>
            <li>
              <span>City</span>
              {{ user.city ? user.city : '-' }}
            </li>
            <li>
              <span>Email</span>
              {{ user.email ? user.email : '-' }}
            </li>
            <li>
              <span>Telephone</span>
              {{ user.telephone ? user.telephone : '-' }}
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block mt-4" routerLink="/vehicle-creation">
        Rent Out Your Vehicle
      </button>
    </div>

    <div class="col-sm-9">
      <mat-tab-group>
        <mat-tab label="Your Rent Out Vehicle">
          <div class="card mt-4" *ngIf="!ownerVehicles || !ownerVehicles.length">
            <div class="card-body">
              <p>No vehicle added.</p>
            </div>
          </div>

          <div class="card mt-4" *ngFor="let vehicle of ownerVehicles">
            <div class="card-body">
              <h5 class="card-title">
                <strong>{{ vehicle.make + ' ' + vehicle.model }}</strong>
              </h5>
              <h6>Reservations:</h6>
              <p *ngIf="!vehicle.reservations || !vehicle.reservations.length">
                No reservation
              </p>
              <p class="card-text" *ngFor="let reservation of vehicle.reservations">
                <strong>Date:</strong>
                {{ reservation.startdate | date: 'short' }} -
                {{ reservation.enddate | date: 'short' }}
                <br />
                <strong>Returned:</strong>{{ reservation.returned ? 'Yes' : 'No' }}
              </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
            <div class="card-footer text-muted">
              {{
                vehicle.timestamp
                  ? vehicle.timestamp
                  : (getDefaultDate() | date)
              }}
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Your Reservation">
          <div class="card mt-4" *ngIf="!user.reservations || !user.reservations.length">
            <div class="card-body">
              <p>No reservation made.</p>
            </div>
          </div>

          <div class="card mt-4" *ngFor="let reservation of user.reservations">
            <div class="card-body">
              <h5 class="card-title">
                <strong>{{ reservation.vehicle.make + ' ' + reservation.vehicle.model }}</strong>
              </h5>
              <h6>Reservations:</h6>
              <p *ngIf="!vehicle.reservations || !vehicle.reservations.length">
                No reservation
              </p>
              <p class="card-text">
                <strong>Date:</strong>
                {{ reservation.startdate | date: 'short' }} -
                {{ reservation.enddate | date: 'short' }}
                <br />
                <strong>Returned:</strong>{{ reservation.returned ? 'Yes' : 'No' }}
              </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
            <div class="card-footer text-muted">
              {{ reservation.startdate | date }}
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
