.bg-img {
  background-image: url('/assets/image/home-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.home-container {
  margin: 0 25vw;

  .card {
    width: 400px;
    padding: 32px;
    margin-left: auto;
    border-radius: 10px;
  }

  .btn {
    background-color: #f9b3a0 !important;
    border-color: #f9b3a0 !important;
  }
}
